# Copy this file to .env and fill in the appropriate values. Refer to README.md
# for instructions on where to find them.
ASTRA_DB_ID=
ASTRA_DB_REGION=
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_DB_KEYSPACE=sag_tiktok
